In [459]:
import pandas as pd
from math import modf

In [460]:
DISTANCE = 16.2
TEMPS = [t for t in range(52, 121)]

In [461]:
def vitesse(distance, temps):
    return round(distance / temps * 60, 2)

In [462]:
def allure(distance, temps): # distance en km et temps en min
    allure = temps / distance
    fraction_secondes = modf(allure)[0] * 0.6
    return round(modf(allure)[1] + fraction_secondes, 2)

In [463]:
def min2sec(value): # minutes (m:s) en sec
    parts = modf(value)
    sec = parts[0] * 100
    return parts[1] * 60 + sec

In [464]:
def sec2min(value): # sec en minutes (m:s)
    min = value / 60
    fraction_secondes = modf(min)[0] * 60
    return round(modf(min)[1] + fraction_secondes / 100, 2)

In [465]:
# Tableau des coefficients

sections = {'Du départ au 6ème Km': 1, 'Du 6ème au 8ème Km': 1.27, 'Du 8ème au 11ème Km': 1, 'Du 11ème au 12ème Km': 0.9, 'Du 11ème au 13ème Km': 1, 'Du 13ème à 13,5 Km': 1.5, 'De 13,5 Km à 14,2 Km': 1, 'De 14,2 Km à 15 Km': 0.9, 'De 15 à 16,2 Km': 1.1}
dist_section = (6, 2, 3, 1, 2, 1.5, 0.7, 0.8, 1.2)

def allure_par_section(a):
    data = {}
    for section in sections.items():
        allure_sec = min2sec(a)
        allure_section = allure_sec * section[1]
        data[section[0]] = sec2min(allure_section)
    return data

In [466]:
df = pd.DataFrame(data={'temps': TEMPS})
df['vitesse'] = df['temps'].apply(lambda t: vitesse(DISTANCE, t))
df['allure moyenne'] = df['temps'].apply(lambda t: allure(DISTANCE, t))
df['par_section'] = df['allure moyenne'].apply(lambda a: allure_par_section(a))
df['temps'] = pd.to_datetime(df.temps, unit='m').dt.strftime('%H:%M')

In [467]:
dict_sections = df['par_section'].to_dict()

df_sections = pd.DataFrame.from_dict(data=dict_sections, orient='index')
html_df = df_sections.merge(df, right_index=True, left_index=True)
final_df = html_df.drop(columns='par_section')
# Changement de l'ordre des colonnes 
cols = final_df.columns.to_list()
cols.insert(0, cols.pop(-3))
cols.insert(1, cols.pop(-2))
cols.insert(2, cols.pop(-1))
print(cols)

final_df = final_df[cols]
final_df.to_html('table.html', index=False)

['temps', 'vitesse', 'allure moyenne', 'Du départ au 6ème Km', 'Du 6ème au 8ème Km', 'Du 8ème au 11ème Km', 'Du 11ème au 12ème Km', 'Du 11ème au 13ème Km', 'Du 13ème à 13,5 Km', 'De 13,5 Km à 14,2 Km', 'De 14,2 Km à 15 Km', 'De 15 à 16,2 Km']

In [468]:
final_df

,temps,vitesse,allure moyenne,Du départ au 6ème Km,Du 6ème au 8ème Km,Du 8ème au 11ème Km,Du 11ème au 12ème Km,Du 11ème au 13ème Km,"Du 13ème à 13,5 Km","De 13,5 Km à 14,2 Km","De 14,2 Km à 15 Km","De 15 à 16,2 Km"
0,00:52,18.69,3.13,3.13,4.05,3.13,2.54,3.13,4.50,3.13,2.54,3.32
1,00:53,18.34,3.16,3.16,4.09,3.16,2.56,3.16,4.54,3.16,2.56,3.36
2,00:54,18.00,3.20,3.20,4.14,3.20,3.00,3.20,5.00,3.20,3.00,3.40
3,00:55,17.67,3.24,3.24,4.19,3.24,3.04,3.24,5.06,3.24,3.04,3.44
4,00:56,17.36,3.27,3.27,4.23,3.27,3.06,3.27,5.10,3.27,3.06,3.48
...,...,...,...,...,...,...,...,...,...,...,...,...
64,01:56,8.38,7.10,7.10,9.06,7.10,6.27,7.10,10.45,7.10,6.27,7.53
65,01:57,8.31,7.13,7.13,9.10,7.13,6.30,7.13,10.49,7.13,6.30,7.56
66,01:58,8.24,7.17,7.17,9.15,7.17,6.33,7.17,10.55,7.17,6.33,8.01
67,01:59,8.17,7.21,7.21,9.20,7.21,6.37,7.21,11.02,7.21,6.37,8.05
68,02:00,8.10,7.24,7.24,9.24,7.24,6.40,7.24,11.06,7.24,6.40,8.08