In [64]:
import pandas as pd
from math import modf

In [65]:
DISTANCE = 16.2
TEMPS = [t for t in range(52, 121)]

In [66]:
def vitesse(distance, temps):
    return round(distance / temps * 60, 2)

In [67]:
def allure(distance, temps):
    allure = temps / distance
    fraction_secondes = modf(allure)[0] * 0.6
    return round(modf(allure)[1] + fraction_secondes, 2)

In [68]:
# Tableau des coefficients

sections = {'Du départ au 6ème Km': 0, 'Du 6ème au 8ème Km': 1.27, 'Du 8ème au 11ème Km': 0, 'Du 11ème au 12ème Km': 0.9, 'Du 11ème au 13ème Km': 0, 'Du 13ème à 13,5 Km': 1.5, 'De 13,5 Km à 14,2 Km': 0, 'De 14,2 Km à 15 Km': 0.9, 'De 15 à 16,2 Km': 1.1}

def vitesse_par_section(vitesse):
    data = {}
    for section in sections.items():
        vitesse_section = vitesse - vitesse * section[1] / 10
        data[section[0]] = round(vitesse_section, 2)
    return data

In [69]:
df = pd.DataFrame(data={'temps': TEMPS})
df['vitesse'] = df['temps'].apply(lambda t: vitesse(DISTANCE, t))
df['allure moyenne'] = df['temps'].apply(lambda t: allure(DISTANCE, t))
df['par_section'] = df['vitesse'].apply(lambda v: vitesse_par_section(v))
df['temps'] = pd.to_datetime(df.temps, unit='m').dt.strftime('%H:%M')

In [70]:
dict_sections = df['par_section'].to_dict()

df_sections = pd.DataFrame.from_dict(data=dict_sections, orient='index')
html_df = df_sections.merge(df, right_index=True, left_index=True)
final_df = html_df.drop(columns='par_section')
# Changement de l'ordre des colonnes 
cols = final_df.columns.to_list()
cols.insert(0, cols.pop(-3))
cols.insert(1, cols.pop(-2))
cols.insert(2, cols.pop(-1))
print(cols)

final_df = final_df[cols]
final_df.to_html('table.html', index=False)

['temps', 'vitesse', 'allure moyenne', 'Du départ au 6ème Km', 'Du 6ème au 8ème Km', 'Du 8ème au 11ème Km', 'Du 11ème au 12ème Km', 'Du 11ème au 13ème Km', 'Du 13ème à 13,5 Km', 'De 13,5 Km à 14,2 Km', 'De 14,2 Km à 15 Km', 'De 15 à 16,2 Km']

In [71]:
final_df

,temps,vitesse,allure moyenne,Du départ au 6ème Km,Du 6ème au 8ème Km,Du 8ème au 11ème Km,Du 11ème au 12ème Km,Du 11ème au 13ème Km,"Du 13ème à 13,5 Km","De 13,5 Km à 14,2 Km","De 14,2 Km à 15 Km","De 15 à 16,2 Km"
0,00:52,18.69,3.13,18.69,16.32,18.69,17.01,18.69,15.89,18.69,17.01,16.63
1,00:53,18.34,3.16,18.34,16.01,18.34,16.69,18.34,15.59,18.34,16.69,16.32
2,00:54,18.00,3.20,18.00,15.71,18.00,16.38,18.00,15.30,18.00,16.38,16.02
3,00:55,17.67,3.24,17.67,15.43,17.67,16.08,17.67,15.02,17.67,16.08,15.73
4,00:56,17.36,3.27,17.36,15.16,17.36,15.80,17.36,14.76,17.36,15.80,15.45
...,...,...,...,...,...,...,...,...,...,...,...,...
64,01:56,8.38,7.10,8.38,7.32,8.38,7.63,8.38,7.12,8.38,7.63,7.46
65,01:57,8.31,7.13,8.31,7.25,8.31,7.56,8.31,7.06,8.31,7.56,7.40
66,01:58,8.24,7.17,8.24,7.19,8.24,7.50,8.24,7.00,8.24,7.50,7.33
67,01:59,8.17,7.21,8.17,7.13,8.17,7.43,8.17,6.94,8.17,7.43,7.27
68,02:00,8.10,7.24,8.10,7.07,8.10,7.37,8.10,6.88,8.10,7.37,7.21